@font-face {
    font-family: 'FuturaMediumC';
    src: url('../fonts/FuturaPT/FuturaMediumC.otf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 450;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 150%;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('../fonts/FuturaPT/FuturaPTCond-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('../fonts/FuturaPT/FuturaPTCond-Book.ttf') format('truetype');
    font-style: normal;
    font-weight: 450;
}