@font-face {
    font-family: 'FuturaMediumC';
    src: url('FuturaMediumC.woff2') format('woff2'),
        url('FuturaMediumC.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

